.NavBar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 2%;
}
.loggedIn {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
}
.loggedOut {
  display: flex;
  width: 20vw;
  justify-content: space-around;
}
.navLinks > a{
  color: white
}